/*=====================
  Chat
=====================*/
.chat-head, #multichatusers {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: none;
    background: #cdedf8;
    max-width: 320px;
    min-width: 300px;
}
.cross-chat {
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
    background: #27a2ce;
    margin-bottom: -15px;
}
.previous-message-chat-section {
    min-height: 260px;
    max-height: 220px;
    padding: 10px;
    overflow: auto;
    text-align: center;
}
.chat-contact-info {
  text-align: center;
    padding: 0px 0px 14px 20px;
    font-size: 18px;
    color: #fff;
    background: #27a2ce;
}
.chat-message-left{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
}
.chat-mssg-time-left{
    text-align: left;
    color: #aaa;
    width: 100%;
    font-size: 8px;
}
.chat-message-right{
     border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-align: right;
    font-size: 14px;
}
.chat-mssg-time-right{
    text-align: right;
    color: #999;
    width: 100%;
    font-size: 8px;
}

button#send-chat-button {
    padding: 10px;
    width: 100%;
}
.spinner {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  margin-left: 120px;
  border: 0px solid #27ae60;
  border-radius: 50%;
  box-shadow: 0 -10px 0 12px #27ae60 inset;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i.fa.fa-times.shut-off-chat {
    cursor: pointer;
}
span.chat-msg-notification.active:after {
    content: "1";
    background: #27a2ce;
    color: #fff;
    padding: 0px 4px;
}
button.open-chat-box.customer-chat-open {
    background: transparent;
    border: 0.1px solid #c2c1c1;
    height: 29px;
    margin: 0 0px 10px !important;
    padding: 4px 5px;
    width: 40px;
}
button.open-chat-box{
    background-color: #3396d1;
    border-color: #1f82bd;
    
}

button#send-chat-button {
    background: #27a2ce;
}

textarea#chat-mssgs {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/*=====================
  Multichat
=====================*/
 #multichatusers {
    left :0;
    display: block;
    z-index: 998;
    max-width: 200px;
    font-size: 14px;
    background: transparent;
}
span#multichathub:after {
    content: "+";
    float: right;
}
span#multichathub.minus:after {
    content: "-";
    float: right;
}
#allusers{
    padding: 10px;
    display: none;
    background:#cdedf8;
}
h3#multichatuserstitle {
    margin-bottom: 0;
    padding: 10px;
    background: #27a2ce;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.chat {
    display: block;
    list-style: none;
    box-shadow:none !important;
    padding: 5px 0px;
}
div#allusers{
    height: 220px;
    overflow: auto;
}
.open-chat-box.active:after{
    content:'';
    padding:0px 5px;
    background:#33d262;
    border-radius:50%;
    font-size: 7px;
}
.open-chat-box.offline:after{
    content: '';
    padding:0px 5px;
    background:#f30821;
    border-radius:50%;
    font-size: 7px;
}
a img.avatar.avatar-32.photo {
    border-radius: 50%;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
a span.single-username {
    display: block;
}
div#chat-head-2, .cross-chat{
    border-radius: 10px;
}
img.avatar.avatar-32.photo {
    width: 30px;
    float: left;
}
/*=====================
   Close
=====================*/
